.glare-hover {
  width: var(--gh-width, auto);
  height: var(--gh-height, auto);
  background: var(--gh-bg);
  border-radius: var(--gh-br, 0.5rem);
  overflow: hidden;
  position: relative;
  display: block; /* fill by img */
}

/* ensure the image fills the container */
.glare-hover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.glare-hover::before {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image: linear-gradient(
    var(--gh-angle, -30deg),
    rgba(0,0,0,0) 60%,
    var(--gh-rgba, rgba(255,255,255,0.3)) 70%,
    rgba(0,0,0,0) 100%
  );
  background-size: var(--gh-size, 300px) var(--gh-size, 300px);
  background-repeat: no-repeat;
  background-position: -100% -100%;
  transition: background-position var(--gh-duration, 800ms) ease;
}

.glare-hover:hover {
  cursor: pointer;
}

.glare-hover:hover::before {
  background-position: 100% 100%;
}

.glare-hover--play-once::before {
  transition: none;
}

.glare-hover--play-once:hover::before {
  transition: background-position var(--gh-duration, 800ms) ease;
  background-position: 100% 100%;
}
